apiVersion: v2
name: grafana-cloud-onboarding
description: A Helm chart for Grafana Cloud Onboarding on Kubernetes
type: application
version: 0.3.1
appVersion: 1.16.0
dependencies:
  - name: alloy-operator
    version: 0.3.11
    repository: https://grafana.github.io/helm-charts
    condition: alloy-operator.enabled
  - alias: additionalComponents
    name: additional-components
    version: 1.0.0
    repository: ""
