cluster:
  # Required. This is used to identify the cluster in Grafana Cloud.
  # You can use helm install --set cluster.name=$(kubectl config current-context) to set the name matching your kubeconfig.
  name: ""

# Connection information for Grafana Cloud Services
grafanaCloud:
  # Fleet Management for fetching Alloy configuration remotely
  fleetManagement:
    url: https://fleet.grafana.com
    auth:
      type: basic
      username: 123456
      password: glc_thisismypassword

    # -- The frequency at which to poll the remote config server for updates.
    # @section -- Remote Configuration
    pollFrequency: 30s

    # -- Attributes to be added to all collectors when requesting configuration.
    # @section -- Remote Configuration
    extraAttributes: {}

# The list of collectors to deploy. This is an object, so you can define multiple collectors.
# Each collectors.<name> field will deploy Alloy helm chart using <name>.
# Under <name> field you can configure all options from the Alloy CRD, which matches the Alloy Helm chart values.yaml.
# To see available fields, consult Alloy helm chart's values.yaml: https://github.com/grafana/alloy/tree/main/operations/helm/charts/alloy
collectors:
  alloy-daemon:
    # Additional attributes to send to Fleet Management.
    attributes: {}
    alloy:
      # Storage path for Alloy data (Write-Ahead Log, positions files, etc.)
      storagePath: /var/lib/alloy
      mounts:
        varlog: true
        # Extra volume mount for Alloy's storage
        extra:
          - name: alloy-storage
            mountPath: /var/lib/alloy
            readOnly: false
      securityContext:
        privileged: true
    controller:
      hostPID: true
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      volumes:
        # Extra volume for Alloy's storage. Using hostPath for DaemonSet to avoid issues with PVC management.
        extra:
          - name: alloy-storage
            hostPath:
              path: /var/lib/alloy
              type: DirectoryOrCreate

# Extra components to deploy to the cluster to provide additional metric sources.
additional-components:
  beyla:
    k8sCache:
      # Use 1 replica per 50 nodes as a starting point.
      replicas: 1

      resources:
        requests:
          cpu: "0.1"
          memory: "256Mi"

        # Generous limits to allow for startup spike.
        limits:
          cpu: "3.0"
          memory: "2Gi"

  # kube-state-metrics can be used to get metrics about the state of the kubernetes cluster health and performance.
  # Installed by default, so you can dynamically enable or disable it through Fleet Management remote configuration.
  kube-state-metrics:
    enabled: true

  # node-exporter is used to collect metrics about the health and performance of Linux nodes in the cluster.
  # Installed by default, so you can dynamically enable or disable it through Fleet Management remote configuration.
  node-exporter:
    enabled: true

  # windows-exporter is used to collect metrics about the health and performance of Windows nodes in the cluster.
  # Installed by default, so you can dynamically enable or disable it through Fleet Management remote configuration.
  windows-exporter:
    enabled: true

  # kepler is used to collect metrics about power usage of Kubernetes cluster resources.
  # Installed by default, so you can dynamically enable or disable it through Fleet Management remote configuration.
  kepler:
    enabled: true

# TODO: add it in when ready to use
# cloud-cost-exporter:
#    enabled: true

# The Alloy Operator is a Kubernetes Operator that manages Alloy instances and their lifecycle.
# To see all valid settings, please see the [Alloy Operator documentation](https://github.com/grafana/alloy-operator/tree/main/charts/alloy-operator).
alloy-operator:
  # -- Deploy the Alloy Operator.
  # @section -- Alloy Operator
  deploy: true

  waitForAlloyRemoval:
    # -- Utilize a Helm Hook to wait for all Alloy instances to be removed before uninstalling the Alloy Operator.
    # This ensures that all Alloy instances are properly cleaned up before the operator is removed.
    # @section -- Alloy Operator
    enabled: true

    # -- The image to use for the Helm Hook that ensures that Alloy instances are removed during uninstall.
    # @section -- Alloy Operator
    image:
      registry: ghcr.io
      repository: grafana/helm-chart-toolbox-kubectl
      tag: 0.1.1
      digest: ""
      pullPolicy: IfNotPresent
      pullSecrets: []

    # -- Annotations to apply to the Pod for the Helm Hook to wait for all Alloy instances to be removed before
    # uninstalling the Alloy Operator
    # @section -- Alloy Operator
    podAnnotations: {}

    # -- Labels to apply to the Pod for the Helm Hook to wait for all Alloy instances to be removed before uninstalling
    # the Alloy Operator
    # @section -- Alloy Operator
    podLabels:
      sidecar.istio.io/inject: "false"
      linkerd.io/inject: disabled

    # -- Tolerations to apply to the Helm Hook that ensures that Alloy instances are removed during uninstall.
    # @section -- Alloy Operator
    tolerations: []

    # -- Node selector to use for the Helm Hook that ensures that Alloy instances are removed during uninstall.
    # @section -- Alloy Operator
    nodeSelector:
      kubernetes.io/os: linux

global: {}

extraManifests: []
