name: Run tests

on:
  pull_request:
    branches: [main]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: 'false'

      - name: Install Task
        uses: arduino/setup-task@416adbf11f87bcbb45c2d4b46af25b569c0ed2df
        with:
          version: "3.x"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: task install-plugins test
